<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>


<form method="POST" enctype="multipart/form-data" action="/compare">
    <table class="table">
        <tr>
            <th scope="col">Select first file:</th>
            <td><input type="file" name="firstCSV" required accept=".csv"/></td>
        </tr>
        <tr>
            <th scope="col">Select second file:</th>
            <td><input type="file" name="secondCSV" required accept=".csv"/></td>
        </tr>
    </table>
    <td><input type="submit" value="Compare"/></td>
</form>
<br/>

</body>
</html>
